<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="UPA Regression" verbose="4" parallel="false">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		</listeners>
	
   <test name="My Profile">	  
		<classes>
			<class name="test.java.TestMyProfileTab" />
		</classes>	
		</test>	
		
		 <test name="Manage Users">	  
		 <classes>
			<class name="test.java.TestManageUsers" />
		</classes>	
		 </test>
		 
		 <test name="Enrollment Flow">	  
		 <classes>
			<class name="test.java.TestUPAEnrollment" />
		</classes>	
		 </test> 
		 
</suite>
