<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UPA Regression Suite" verbose="1" parallel="false">

<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
<!-- <listener class-name="main.java.Utils.CustomReporter"/> -->	
</listeners>
  <test name="UPA cases">
    <classes>
      <class name="test.java.TestUPA"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
	